aiohttp
anyio
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
pynacl
charset-normalizer
cloudscraper
discord==1.7.3
discord.py==1.7.3
h11
httpcore
httpx
js2py
idna
multidict
pip
pyparsing
pytz
requests
requests-toolbelt
rfc3986
setuptools
sniffio
soupsieve
typing-extensions
urllib3
yarl
youtube-dl
youtube-search-python
lxml